body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ensure the body takes full viewport height */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 1rem); 
}

.left-panel {
    background-color: #f0f0f0;
    flex:1;
    /* flex: 0 0 25%; Set the left panel to 25% width */
    /* min-width: 250px; */
    padding: 1rem;
}

.right-panel {
    background-color: #fff;
    flex: 5; /* Let the right panel expand to fill the remaining space */
    /* min-width: 300px; */
    /* padding: 1rem; */
}

.map-container {
    height: 100%;
}



/* login */

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    /* color: #007bff; Blue header text color */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Label text color */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}



/* upload */

.upload-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    /* color: #007bff; Blue header text color */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Label text color */
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}

.success-message {
    margin-top: 10px;
    text-align: center;
    color: #28a745; /* Green success message color */
}

/* Align everything inside content to center */
.mycontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Style the login and logout buttons */
.login-button,
.logout-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.login-button:hover,
.logout-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
